/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

:root {
  --primary: #1976d2;
  --body: #fff;
  --text-menu: #fff;
  --text-body: #4b4b4b;
}

:root .dark-theme {
  --primary: #1976d2;
  --body: #4b4b4b;
  --text-menu: #fff;
  --text-body: #fff;
}

html {
  scroll-behavior: smooth;
}

